$background: rgb(92, 116, 255);

html { box-sizing: box-model; }
*, *:before, *:after { box-sizing: inherit; outline:0; }
header,article,section{ display:block;position: relative; }

@function svg-url($svg){
    @return url("../images/#{$svg}-logo.svg");
}

@mixin background-svg($svg){
    content: svg-url($svg);
    background-size: 100px 100px;
    background-repeat:no-repeat;
    background-position:50% 50%;
}

@mixin background-bitmap($bitmap) {
  content: url("../images/#{$bitmap}-logo.png");
  background-size: 100px 100px;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

html {
  background: $background;
  font-size: .625em;// 10px for rems
}

.vscode {
   // @include background-svg('vscode');
   @include background-svg('vscode');
   
}
.typescript {
    @include background-bitmap('ts');
}
.webpack {
    @include background-svg('webpack');
}